[wm]
192.168.4.83

[wm:vars]
ansible_ssh_user=waming
nginx_port=8090
tomcat1_ip=192.168.4.231
tomcat2_ip=192.168.4.221
tomcat_port=8080
yum_list=["zlib","zlib-devel","openssl","openssl-devel","pcre-devel"]
nginx_path=/app/service/nginx
